@use 'sass:color';
@use 'base/variables' as v;
@use 'base/mixins' as m;

.alertas-contenedor {
  position: fixed; // fixed es mejor que absolute para notificaciones
  right: 1rem;
  top: 1rem;
  display: flex;
  flex-direction: column;
  gap: .5rem;
  z-index: 1000;
  width: 90%;
  @include m.tablet {
    width: 40rem;
  }

  .alerta {
    padding: 1rem;
    text-transform: uppercase;
    font-weight: 900;
    margin-bottom: 1rem;
    font-size: 1rem;
    @include m.tablet {
      font-size: 1.2rem;
    }

    &.error {
      background-color: color.scale(v.$rojo, $lightness: 80%);
      border-left: .5rem solid v.$rojo;
    }

    &.exito {
      background-color: color.scale(v.$verde, $lightness: 80%);
      border-left: .5rem solid v.$verde;
    }
  }
}
