@use 'sass:color';
@use 'base/variables' as v;
@use 'base/mixins' as m;

.formulario-configuracion {
  margin-top: 2rem;
  border: 1px solid v.$indigo-velvet;
  
  @include m.desktop {
    width: 70%;
    margin: 2rem auto;
  }

  .nueva-tarifa {
    display: none;
  }

  &__header {
    background-color: v.$mauve;
    padding: 2rem;
    border-bottom: 1px solid v.$indigo-velvet;
    
    p, h2 {
      color: v.$indigo-velvet;
    }
  }

  &__body {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 1rem 3rem;

    .tarifa-row {
      flex-direction: row;
      align-items: center;
      overflow: auto;

      &.tarifa-inactiva {
        opacity: 0.5;

        .input-tipo input,
        .input-tarifa input {
          pointer-events: none;
        }
      }

      .btn-desactivar-tarifa {
        border: 1px solid v.$indigo-velvet;
        background-color: transparent;
        color: v.$indigo-velvet;
        font-weight: bold;
        padding: .5rem 1rem;
        border-radius: .5rem;
        cursor: pointer;

        &:hover {
          background-color: v.$indigo-velvet;
          color: v.$mauve;
        }

        &[data-activo="0"] {
          border-color: green;
          color: green;

          &:hover {
            background-color: green;
            color: white;
          }
        }
      }

      .input-tipo {
        input {
          width: 10rem;
          padding: 1rem;
          background-color: v.$mauve;
          border-radius: 1rem;
          color: v.$indigo-velvet;
          font-weight: bold;

          &::placeholder {
            color: color.adjust(v.$indigo-velvet, $lightness: 30%);
          }

          @include m.tablet {
            width: 100%;
          }
        }
      }

      .input-tarifa {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 0;

        span {
          background-color: v.$indigo-velvet;
          color: v.$mauve;
          padding: 1rem;
          font-weight: bold;
          border-top-left-radius: 1rem;
          border-bottom-left-radius: 1rem;
          border: 1px solid v.$indigo-velvet;
        }

        input {
          border: 1px solid v.$indigo-velvet;
          width: 6rem;
          padding: 1rem;
          border-top-right-radius: 1rem;
          border-bottom-right-radius: 1rem;

          &::placeholder {
            color: v.$indigo-velvet;
          }
        }
      }
    }
    
    div {
      display: flex;
      flex-direction: column;
      gap: .5rem;
  
      label {
        color: v.$indigo-velvet;
      }
  
      input,
      textarea {
        border: none;
        outline: none;
      }

      textarea {
        height: 7rem;
      }

      @include m.telefono {
        textarea {
          height: auto;
        }
      }
    }
  }

  &__footer {
    border-top: 1px solid v.$indigo-velvet;
    padding: 1rem 3rem;
    display: flex;
    gap: 2rem;
    justify-content: flex-end;

    .btn-configuracion,
    .btn-agregar {
      border: 1px solid v.$indigo-velvet;
      background-color: transparent;
      color: v.$indigo-velvet;
      font-weight: bold;
      padding: 1rem;
      cursor: pointer;

      &:hover {
        background-color: v.$indigo-velvet;
        color: v.$mauve;
      }
    }
  }
}
